body {
    background-color: #F0F6FF;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    width: 1535px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

h2 {
    color: #3163B4;
    font-size: 28px;
    font-weight: 900;
    margin-left: 60px;
}

.header-buttons {
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

.header-buttons button {
    border: none;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
}

.main-container {
    border-radius: 20px;
    padding: 0;
    display: flex;
    gap: 30px;
}

.date-time-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-right: 10px;
    margin-top: -28px;
}

#day {
    color: #3163B4;
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 50px;
}

.time {
    background-color: #FFFFFF;
    width: 160px;
    height: 63px;
    font-weight: 900;
    font-size: 18px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.machine-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px;
    padding-top: 25px;
}

.top-row {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-bottom: 10px;
}

.top {
    width: 90px;
    height: 55px;
    background-color: #FFFFFF;
    color: #7CA4E6;
    font-weight: 900;
    font-size: 30px;
    border: 2px solid #608ED8;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slots-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.slot {
    background-color: #D9D9D9;
    width: 150px;
    height: 60px;  
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}

.slot.occupied {
    background-color: #608ED8;
    color: #FFFFFF;
}
