<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/login.css">
</head>

<body>
    <div>
        <h1>SetakTime</h1>
        <h3>Login</h3>
    </div>
    <form action='/login' method="POST">
        <div>
            <input type="text" name="userid" placeholder="id"><br>
            <input type="password" name='password' placeholder="pw">
        </div>
        <div>
            <button type="submit">ok</button>
            <button type="button" onclick="location.href='/register'">Sign up</button>
        </div>
    </form>
</body>

</html>