<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's SetakTime~!</title>
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
    <header>
        <h2>SetakTime</h2>
        <div class="header-buttons">
            <a href="./reserve.html">세탁 예약/취소</a>
            <a href="./login.html">로그인</a>
            <a href="./signup.html">회원가입</a>
        </div>
    </header>
    <div id="background"></div>
</body>
</html>