<!-- 2411_이서영 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/menubar.css">
    <title>메뉴바</title>
</head>

<body>
    <nav id="navigator">
        <ul>
            <li><a href="/main.html" id="logo">SetakTime</a></li>
            <li><a href="/reserve">세탁 예약/취소</a></li>
            <li><a href="/login.html">로그인</a></li>
            <li><a href="/signup.html">회원가입</a></li>
        </ul>
    </nav>
</body>

</html>