<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's SetakTime~!</title>
    <link rel="stylesheet" href="/style/reserve.css">
</head>

<body>
    <header>
        <a href="/main.html" class="logo-link">
            <h2>SetakTime</h2>
        </a>
        <nav class="header-buttons">
            <a href="/main.html">홈</a>
            <span id="userInfoDisplay"></span>
        </nav>
    </header>


    <div class="main-container">
        <div class="date-time-col">
            <span id="day"></span>
            <span class="time">18:00 ~ 19:00</span>
            <span class="time">19:00 ~ 20:00</span>
            <span class="time">20:10 ~ 21:20</span>
            <span class="time">21:20 ~ 22:30</span>
        </div>
        <div class="machine-container">
            <div class="top-row">
                <div class="top">🧺 1번</div>
                <div class="top">🧺 2번</div>
                <div class="top">🧺 3번</div>
            </div>
            <div class="slots-grid">
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
            </div>
        </div>
    </div>

    <script src="/routes/auth/reserve2.js"></script>
</body>

</html>