<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h3>SignUp</h3>
    </div>
    <form action="/register" method="POST">
        <div>
            <input type="text" name="userid" placeholder="id"><br>
            <input type="password" name="password" placeholder="pw"><br>
            <input type="text" name="username" placeholder="name"><br>
            <input type="text" name="roomnumber" placeholder="room number"><br>
        </div>
        <div>
            <button type="submit" onclick="location.href='/login'">ok</button>
        </div>
    </form>
</body>

</html>
